@using Web.Areas.Admin.ViewModels.Question
@model QuestionIndexVM

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">About us</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @if (@Model.Questions != null)
            {
                <a class="btn btn-primary" asp-action="create" asp-controller="question">Create</a>
                <table class="table table-bordered mt-3" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Problem</th>
                            <th>Solve</th>
                            <th>Question Topic</th>
                            <th>Created at</th>
                            <th>Modified at</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Problem</th>
                            <th>Solve</th>
                            <th>Question Topic</th>
                            <th>Created at</th>
                            <th>Modified at</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var question in Model.Questions)
                        {
                            <tr>

                                <td>@question.Id</td>
                                <td>@question.Problem</td>
                                <td>@question.Solve</td>
                                <td>@question.QuestionTopic.Title</td>
                                <td>@question.CreatedAt</td>
                                <td>@question.ModifiedAt</td>
                                <td>
                                    <a class="btn btn-primary" asp-action="update" asp-controller="question" asp-route-id="@question.Id">Update</a>
                                    <form method="post" class="btn btn-danger btn-icon-split" asp-action="delete" asp-controller="question" asp-route-id="@question.Id">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <a class="btn btn-primary" asp-action="create" asp-controller="question">Create</a>
            }
        </div>
    </div>
</div>
